.GameCell {
	display: inline-block;
	float: none;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: auto;
	height: auto;
	padding: 10px;
}

.GameCell > * {
	box-shadow: 0 0 5px #444, 0 0 5px #888;
}

.cell-btn:hover {
	opacity: 0.7 !important;
	vertical-align: center;
}

.cell-btn.value-X:hover::after {
	content: 'X' !important;
}

.cell-btn.value-O:hover::after {
	content: 'O' !important;
}

.cell-btn:disabled {
	background-color: #eee !important;
	opacity: 1 !important;
}